[defaults]
hostfile=scripts/inventory.py
host_key_checking = False
remote_user = cloud-user

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o UserKnownHostsFile=/dev/null -o BatchMode=yes -o StrictHostKeyChecking=no -q
scp_if_ssh = True
