{
  "default_password" : "{{ AMBARI_PASS }}",
  "host_groups" : [
    {
      "name" : "AMBARI",
      "hosts" : [
{% for node in groups['ambari'] %}
        {
          "fqdn" : "{{ hostvars[node].ansible_hostname }}.localdomain"
        }
{% endfor %}
      ]
    },
    {
      "name" : "NAMENODE",
      "hosts" : [
{% for node in groups['namenode'] %}
        {
          "fqdn" : "{{ hostvars[node].ansible_hostname }}.localdomain"
        }
{% endfor %}
      ]
    },
    {
      "name" : "EDGENODE",
      "hosts" : [
{% for node in groups['edgenode'] %}
        {
          "fqdn" : "{{ hostvars[node].ansible_hostname }}.localdomain"
        }
{% endfor %}
      ]
    },
    {
      "name" : "SNAMENODE",
      "hosts" : [
{% for node in groups['snamenode'] %}
        {
          "fqdn" : "{{ hostvars[node].ansible_hostname }}.localdomain"
        }
{% endfor %}
      ]
    },
    {
      "name" : "DATANODE",
      "hosts" : [
{% for node in groups['datanode'] %}
        {
          "fqdn" : "{{ hostvars[node].ansible_hostname }}.localdomain"
        },
{% endfor %}
      ]
    }
  ],
  "blueprint" : "{{ AMBARI_blueprintname }}"
}